In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
credit_risk_orig=pd.read_csv('./data/credit_risk_dataset.csv')
credit_risk_orig.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [3]:
credit_risk_orig.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [4]:
cr_copy=credit_risk_orig.copy()

In [5]:
#cr_copy.pivot_table( index=['person_age'],columns=['loan_status'],values=['person_income'],aggfunc="count").sort_index()
age_filter=cr_copy['person_age']<=68
cr_age_filtered=cr_copy[age_filter]
cr_age_filtered.shape

(32556, 12)

In [43]:
#cr_copy.pivot_table( index=['person_emp_length'],columns=['loan_status'],values=['person_income'],aggfunc="count").sort_index()
emp_length_filter=cr_age_filtered['person_emp_length']<=47
cr_emp_length_filtered=cr_age_filtered[emp_length_filter]
cr_emp_length_filtered.shape
cr_emp_length_filtered.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [44]:
cr_emp_length_filtered.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31660.000000,3.166000e+04,31660.000000,31660.000000,28616.000000,31660.000000,31660.000000,31660.000000
mean,27.703222,6.649611e+04,4.781364,9660.912824,11.039937,0.215509,0.169617,5.798073
std,6.111371,5.277853e+04,4.028777,6335.038232,3.229310,0.411181,0.106281,4.034995
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.939900e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.480000,0.000000,0.230000,8.000000
max,67.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [45]:
cr_emp_length_filtered.reset_index(drop=True,inplace=True)
cr_emp_length_filtered.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [46]:
cr_emp_length_filtered.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3044
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [47]:
cr_int_rate_filled=cr_emp_length_filtered.copy()
cr_int_rate_filled=cr_int_rate_filled.fillna({'loan_int_rate':cr_int_rate_filled['loan_int_rate'].mean()})
cr_int_rate_filled.describe()
cr_int_rate_filled.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [48]:
cr_int_rate_filled.groupby('loan_status').count()['person_age']

loan_status
0    24837
1     6823
Name: person_age, dtype: int64

In [49]:
cr_loan_grade_rmvd=cr_int_rate_filled.drop('loan_grade',axis=1)
cr_loan_grade_rmvd.shape

(31660, 11)

In [50]:
cr_loan_grade_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

### Categorical Feature Treatment

In [51]:
cr_loan_cat_treated=cr_loan_grade_rmvd.copy()
cr_loan_cat_treated['person_home_ownership'].value_counts()

person_home_ownership
RENT        16058
MORTGAGE    13085
OWN          2410
OTHER         107
Name: count, dtype: int64

In [52]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

cr_loan_cat_treated.dtypes
categorical_columns=cr_loan_cat_treated.select_dtypes(include=['object']).columns.to_list
print(categorical_columns)

for column in categorical_columns():
    print (cr_loan_cat_treated[column].value_counts())

one_hot_encoding_columns=['person_home_ownership', 'loan_intent']
binary_encoding_columns=['cb_person_default_on_file']

#Initialize One Hot Encoder
ohe=OneHotEncoder(sparse_output=False)

#Apply one-hot encoder to categorical columns
one_hot_encoded=ohe.fit_transform(cr_loan_cat_treated[one_hot_encoding_columns])

#create dataframe for categorical variables
cr_ohe=pd.DataFrame(one_hot_encoded, columns=ohe.get_feature_names_out(one_hot_encoding_columns))

#merge parent dataframe with categorical features dataframe 
cr_loan_cat_treated = pd.concat([cr_loan_cat_treated, cr_ohe], axis=1)
cr_loan_cat_treated.shape

<bound method IndexOpsMixin.tolist of Index(['person_home_ownership', 'loan_intent', 'cb_person_default_on_file'], dtype='object')>
person_home_ownership
RENT        16058
MORTGAGE    13085
OWN          2410
OTHER         107
Name: count, dtype: int64
loan_intent
EDUCATION            6288
MEDICAL              5884
VENTURE              5553
PERSONAL             5362
DEBTCONSOLIDATION    5063
HOMEIMPROVEMENT      3510
Name: count, dtype: int64
cb_person_default_on_file
N    26035
Y     5625
Name: count, dtype: int64

(32539, 21)

In [53]:
#populate binary columns with 0 and 1
cr_loan_bin_treated=cr_loan_cat_treated.copy()
cr_loan_bin_treated[binary_encoding_columns]=np.where((cr_loan_bin_treated[binary_encoding_columns])=='Y',1,0)
cr_loan_bin_treated.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,...,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
1,21.0,9600.0,OWN,5.0,EDUCATION,1000.0,11.14,0.0,0.10,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,25.0,9600.0,MORTGAGE,1.0,MEDICAL,5500.0,12.87,1.0,0.57,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,23.0,65500.0,RENT,4.0,MEDICAL,35000.0,15.23,1.0,0.53,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,24.0,54400.0,RENT,8.0,MEDICAL,35000.0,14.27,1.0,0.55,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,21.0,9900.0,OWN,2.0,VENTURE,2500.0,7.14,1.0,0.25,0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [54]:
cr_loan_bin_treated.dtypes

person_age                        float64
person_income                     float64
person_home_ownership              object
person_emp_length                 float64
loan_intent                        object
loan_amnt                         float64
loan_int_rate                     float64
loan_status                       float64
loan_percent_income               float64
cb_person_default_on_file           int32
cb_person_cred_hist_length        float64
person_home_ownership_MORTGAGE    float64
person_home_ownership_OTHER       float64
person_home_ownership_OWN         float64
person_home_ownership_RENT        float64
loan_intent_DEBTCONSOLIDATION     float64
loan_intent_EDUCATION             float64
loan_intent_HOMEIMPROVEMENT       float64
loan_intent_MEDICAL               float64
loan_intent_PERSONAL              float64
loan_intent_VENTURE               float64
dtype: object

In [55]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

scale_columns=['person_age','person_income','person_emp_length','loan_amnt','loan_int_rate','loan_percent_income','cb_person_cred_hist_length']

cr_loan_scaled=cr_loan_bin_treated.copy()
cr_loan_scaled[scale_columns] = StandardScaler().fit_transform(cr_loan_scaled[scale_columns])
cr_loan_scaled.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,...,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
1,-1.096861,-1.078033,OWN,0.054269,EDUCATION,-1.367166,0.032593,0.0,-0.655038,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.442334,-1.078033,MORTGAGE,-0.938604,MEDICAL,-0.656820,0.596094,1.0,3.767279,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-0.769598,-0.018874,RENT,-0.193949,MEDICAL,3.999895,1.364801,1.0,3.390912,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-0.605966,-0.229190,RENT,0.798924,MEDICAL,3.999895,1.052107,1.0,3.579096,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,-1.096861,-1.072349,OWN,-0.690385,VENTURE,-1.130384,-1.270300,1.0,0.756340,0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [56]:
dropColumns=['person_home_ownership','loan_intent','person_home_ownership_OTHER','loan_intent_DEBTCONSOLIDATION']

cr_loan_processed=cr_loan_scaled.copy()
cr_loan_processed= cr_loan_processed.drop(dropColumns, axis=1)
cr_loan_processed.shape
# cr_loan_processed.head()

(32539, 17)

In [57]:
cr_loan_processed['loan_status'].value_counts()

loan_status
0.0    24837
1.0     6823
Name: count, dtype: int64

### SMOT-Synthetic Minority Over-Sampling Technique

In [58]:
from imblearn.over_sampling import SMOTE

smote=SMOTE()

independent=cr_loan_processed.drop('loan_status', axis=1)
dependent=cr_loan_processed['loan_status']

x_smote, y_smote=smote.fit_resample(independent,dependent)
x_smote.head()

C:\Users\pups_\anaconda3\envs\deeplearning-env\lib\site-packages\sklearn\utils\_array_api.py:245: RuntimeWarning: invalid value encountered in cast
  return x.astype(dtype, copy=copy, casting=casting)

ValueError: Input y contains NaN.

In [22]:
y_smote.value_counts()

loan_status
0    24837
1    24837
Name: count, dtype: int64

### Train Test Data

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

x_train, x_test, y_train, y_test = train_test_split(x_smote, y_smote, test_size=0.2, random_state=42)

x_train.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
16765,-0.769598,-0.589190,-0.193949,-0.009615,0.276885,0.944524,0,-0.941298,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3018,-0.278702,-0.611927,-0.938604,-0.972529,0.586322,-0.655038,0,-0.445627,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
44446,5.014323,-0.360606,2.557992,1.760739,-0.233353,2.576747,0,3.789087,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
14504,-0.605966,0.479443,0.798924,0.053527,2.687237,-0.749130,0,-0.941298,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
15302,-0.605966,0.180074,0.302488,1.000655,-0.016266,0.379972,0,-0.693462,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [24]:
from sklearn.linear_model import LogisticRegression

logit= LogisticRegression()

logit.fit(x_train, y_train)
logit.score(x_train, y_train)

0.778706057022069

In [25]:
logit_pred=logit.predict(x_test)
logit_pred

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [26]:
print(classification_report(y_test,logit_pred))
print(logit.coef_)

              precision    recall  f1-score   support

           0       0.78      0.78      0.78      4967
           1       0.78      0.77      0.78      4968

    accuracy                           0.78      9935
   macro avg       0.78      0.78      0.78      9935
weighted avg       0.78      0.78      0.78      9935

[[-0.0196331   0.09248604 -0.02480325 -0.65695375  1.00775592  1.37618403
   0.03948385 -0.01941847 -0.06285839 -1.72128988  0.52976966 -0.90474153
  -0.01872603 -0.19984843 -0.66850611 -1.18177672]]

In [27]:
feature_logit_imp=pd.DataFrame({'features':x_smote.columns,'logit_impr':logit.coef_[0]})
feature_logit_imp.sort_values('logit_impr',ascending=False)

                          features  logit_impr
5              loan_percent_income    1.376184
4                    loan_int_rate    1.007756
10      person_home_ownership_RENT    0.529770
1                    person_income    0.092486
6        cb_person_default_on_file    0.039484
12     loan_intent_HOMEIMPROVEMENT   -0.018726
7       cb_person_cred_hist_length   -0.019418
0                       person_age   -0.019633
2                person_emp_length   -0.024803
8   person_home_ownership_MORTGAGE   -0.062858
13             loan_intent_MEDICAL   -0.199848
3                        loan_amnt   -0.656954
14            loan_intent_PERSONAL   -0.668506
11           loan_intent_EDUCATION   -0.904742
15             loan_intent_VENTURE   -1.181777
9        person_home_ownership_OWN   -1.721290

In [28]:
from sklearn.ensemble import RandomForestClassifier

rf= RandomForestClassifier()

rf.fit(x_train, y_train)

rf_pred=rf.predict(x_test)

rf.score(x_train, y_train)
rf_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [29]:
print(classification_report(y_test,rf_pred))
print(rf.feature_importances_)

              precision    recall  f1-score   support

           0       0.91      0.97      0.94      4967
           1       0.97      0.91      0.94      4968

    accuracy                           0.94      9935
   macro avg       0.94      0.94      0.94      9935
weighted avg       0.94      0.94      0.94      9935

[0.05761554 0.13532198 0.07018779 0.07476736 0.20910881 0.20889172
 0.01878739 0.05674903 0.02595374 0.01680146 0.04227953 0.0179523
 0.01936023 0.0131365  0.01453539 0.01855124]

In [30]:
feature_rf_imp=pd.DataFrame({'features':x_smote.columns,'rf_impr':rf.feature_importances_})
feature_rf_imp.sort_values('rf_impr',ascending=False)

                          features   rf_impr
4                    loan_int_rate  0.209109
5              loan_percent_income  0.208892
1                    person_income  0.135322
3                        loan_amnt  0.074767
2                person_emp_length  0.070188
0                       person_age  0.057616
7       cb_person_cred_hist_length  0.056749
10      person_home_ownership_RENT  0.042280
8   person_home_ownership_MORTGAGE  0.025954
12     loan_intent_HOMEIMPROVEMENT  0.019360
6        cb_person_default_on_file  0.018787
15             loan_intent_VENTURE  0.018551
11           loan_intent_EDUCATION  0.017952
9        person_home_ownership_OWN  0.016801
14            loan_intent_PERSONAL  0.014535
13             loan_intent_MEDICAL  0.013136

In [31]:
from xgboost import XGBClassifier

xgb=XGBClassifier(tree_method='exact')
xgb.fit(x_train,y_train.values.ravel())
xgb.score(x_train,y_train.values.ravel())

0.9655502151538791

In [32]:
xgb_pred=xgb.predict(x_test)

In [33]:
print(classification_report(y_test,xgb_pred))
print(xgb.feature_importances_)

              precision    recall  f1-score   support

           0       0.92      0.98      0.95      4967
           1       0.98      0.91      0.94      4968

    accuracy                           0.95      9935
   macro avg       0.95      0.95      0.95      9935
weighted avg       0.95      0.95      0.95      9935

[0.03750801 0.039646   0.04235121 0.00984145 0.07321227 0.11656383
 0.01369795 0.08390036 0.01763473 0.13240354 0.1726138  0.05670363
 0.05795531 0.03265198 0.04321578 0.07010014]

In [34]:
feature_xgb_imp=pd.DataFrame({'features':x_smote.columns,'xgb_impr':xgb.feature_importances_})
feature_xgb_imp.sort_values('xgb_impr',ascending=False)

                          features  xgb_impr
10      person_home_ownership_RENT  0.172614
9        person_home_ownership_OWN  0.132404
5              loan_percent_income  0.116564
7       cb_person_cred_hist_length  0.083900
4                    loan_int_rate  0.073212
15             loan_intent_VENTURE  0.070100
12     loan_intent_HOMEIMPROVEMENT  0.057955
11           loan_intent_EDUCATION  0.056704
14            loan_intent_PERSONAL  0.043216
2                person_emp_length  0.042351
1                    person_income  0.039646
0                       person_age  0.037508
13             loan_intent_MEDICAL  0.032652
8   person_home_ownership_MORTGAGE  0.017635
6        cb_person_default_on_file  0.013698
3                        loan_amnt  0.009841

In [35]:
feature_imp=feature_logit_imp.merge(right=feature_rf_imp,on='features').merge(right=feature_xgb_imp,on='features')
feature_imp

                          features  logit_impr   rf_impr  xgb_impr
0                       person_age   -0.019633  0.057616  0.037508
1                    person_income    0.092486  0.135322  0.039646
2                person_emp_length   -0.024803  0.070188  0.042351
3                        loan_amnt   -0.656954  0.074767  0.009841
4                    loan_int_rate    1.007756  0.209109  0.073212
5              loan_percent_income    1.376184  0.208892  0.116564
6        cb_person_default_on_file    0.039484  0.018787  0.013698
7       cb_person_cred_hist_length   -0.019418  0.056749  0.083900
8   person_home_ownership_MORTGAGE   -0.062858  0.025954  0.017635
9        person_home_ownership_OWN   -1.721290  0.016801  0.132404
10      person_home_ownership_RENT    0.529770  0.042280  0.172614
11           loan_intent_EDUCATION   -0.904742  0.017952  0.056704
12     loan_intent_HOMEIMPROVEMENT   -0.018726  0.019360  0.057955
13             loan_intent_MEDICAL   -0.199848  0.013136  0.032652
14            loan_intent_PERSONAL   -0.668506  0.014535  0.043216
15             loan_intent_VENTURE   -1.181777  0.018551  0.070100

### Further Exploration

In [36]:
logit_predicted_df=pd.DataFrame({'test_index_logit':x_test.index,'logit_pred':logit_pred})
rf_predicted_df=pd.DataFrame({'test_index_rf':x_test.index,'rf_pred':rf_pred})
xgb_predicted_df=pd.DataFrame({'test_index_xgb':x_test.index,'xgb_pred':xgb_pred})
print(logit_predicted_df.shape)
print(rf_predicted_df.shape)
print(xgb_predicted_df.shape)

(9935, 2)
(9935, 2)
(9935, 2)

In [37]:
logit_predicted_df.sort_values(['test_index_logit'], ascending=True).head()

      test_index_logit  logit_pred
9813                 1           1
421                  4           0
5875                 6           1
7424                 7           0
6423                38           1

In [38]:
rf_predicted_df.sort_values(['test_index_rf'], ascending=True).head()

      test_index_rf  rf_pred
9813              1        1
421               4        1
5875              6        1
7424              7        1
6423             38        1

In [39]:
xgb_predicted_df.sort_values(['test_index_xgb'], ascending=True).head()

      test_index_xgb  xgb_pred
9813               1         1
421                4         1
5875               6         1
7424               7         1
6423              38         1

In [40]:
#Individual Prediction
prediction_df_logit=pd.merge(cr_copy,logit_predicted_df, left_index=True, right_on='test_index_logit', how='inner')
prediction_df_rf=pd.merge(cr_copy,rf_predicted_df, left_index=True, right_on='test_index_rf', how='inner')
prediction_df_xgb=pd.merge(cr_copy,xgb_predicted_df, left_index=True, right_on='test_index_xgb', how='inner')

prediction_df_final=cr_emp_length_filtered.join(logit_predicted_df.set_index('test_index_logit'), how='left').join(rf_predicted_df.set_index('test_index_rf'), how='left').join(xgb_predicted_df.set_index('test_index_xgb'), how='left')

prediction_df_final.shape

(31660, 15)

In [41]:
prediction_df_final.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,logit_pred,rf_pred,xgb_pred
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,NaN,NaN,NaN
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,1.0,1.0,1.0
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,NaN,NaN,NaN
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,NaN,NaN,NaN
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2,0.0,1.0,1.0

In [42]:
prediction_df_final.to_excel("predicted.xlsx")