In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
credit_risk_orig=pd.read_csv('./data/credit_risk_dataset.csv')
credit_risk_orig.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [3]:
credit_risk_orig.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [4]:
cr_copy=credit_risk_orig.copy()

In [5]:
#cr_copy.pivot_table( index=['person_age'],columns=['loan_status'],values=['person_income'],aggfunc="count").sort_index()
age_filter=cr_copy['person_age']<=68
cr_age_filtered=cr_copy[age_filter]
cr_age_filtered.shape

(32556, 12)

In [6]:
#cr_copy.pivot_table( index=['person_emp_length'],columns=['loan_status'],values=['person_income'],aggfunc="count").sort_index()
emp_length_filter=cr_age_filtered['person_emp_length']<=47
cr_emp_length_filtered=cr_age_filtered[emp_length_filter]
cr_emp_length_filtered.shape
cr_emp_length_filtered.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [7]:
cr_emp_length_filtered.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31660.000000,3.166000e+04,31660.000000,31660.000000,28616.000000,31660.000000,31660.000000,31660.000000
mean,27.703222,6.649611e+04,4.781364,9660.912824,11.039937,0.215509,0.169617,5.798073
std,6.111371,5.277853e+04,4.028777,6335.038232,3.229310,0.411181,0.106281,4.034995
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.939900e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.480000,0.000000,0.230000,8.000000
max,67.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [8]:
cr_emp_length_filtered.reset_index(drop=True,inplace=True)
cr_emp_length_filtered.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [9]:
cr_emp_length_filtered.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3044
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [10]:
cr_int_rate_filled=cr_emp_length_filtered.copy()
cr_int_rate_filled=cr_int_rate_filled.fillna({'loan_int_rate':cr_int_rate_filled['loan_int_rate'].mean()})
cr_int_rate_filled.describe()
cr_int_rate_filled.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [11]:
cr_int_rate_filled.groupby('loan_status').count()['person_age']

loan_status
0    24837
1     6823
Name: person_age, dtype: int64

In [12]:
cr_loan_grade_rmvd=cr_int_rate_filled.drop('loan_grade',axis=1)
cr_loan_grade_rmvd.shape

(31660, 11)

In [13]:
cr_loan_grade_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

### Categorical Feature Treatment

In [14]:
cr_loan_cat_treated=cr_loan_grade_rmvd.copy()
cr_loan_cat_treated['person_home_ownership'].value_counts()

person_home_ownership
RENT        16058
MORTGAGE    13085
OWN          2410
OTHER         107
Name: count, dtype: int64

In [15]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

cr_loan_cat_treated.dtypes
categorical_columns=cr_loan_cat_treated.select_dtypes(include=['object']).columns.to_list
print(categorical_columns)

for column in categorical_columns():
    print (cr_loan_cat_treated[column].value_counts())

one_hot_encoding_columns=['person_home_ownership', 'loan_intent']
binary_encoding_columns=['cb_person_default_on_file']

#Initialize One Hot Encoder
ohe=OneHotEncoder(sparse_output=False)

#Apply one-hot encoder to categorical columns
one_hot_encoded=ohe.fit_transform(cr_loan_cat_treated[one_hot_encoding_columns])

#create dataframe for categorical variables
cr_ohe=pd.DataFrame(one_hot_encoded, columns=ohe.get_feature_names_out(one_hot_encoding_columns))

#merge parent dataframe with categorical features dataframe 
cr_loan_cat_treated = pd.concat([cr_loan_cat_treated, cr_ohe], axis=1)
cr_loan_cat_treated.shape

<bound method IndexOpsMixin.tolist of Index(['person_home_ownership', 'loan_intent', 'cb_person_default_on_file'], dtype='object')>
person_home_ownership
RENT        16058
MORTGAGE    13085
OWN          2410
OTHER         107
Name: count, dtype: int64
loan_intent
EDUCATION            6288
MEDICAL              5884
VENTURE              5553
PERSONAL             5362
DEBTCONSOLIDATION    5063
HOMEIMPROVEMENT      3510
Name: count, dtype: int64
cb_person_default_on_file
N    26035
Y     5625
Name: count, dtype: int64

(31660, 21)

In [16]:
#populate binary columns with 0 and 1
cr_loan_bin_treated=cr_loan_cat_treated.copy()
cr_loan_bin_treated[binary_encoding_columns]=np.where((cr_loan_bin_treated[binary_encoding_columns])=='Y',1,0)
cr_loan_bin_treated.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,...,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
cr_loan_bin_treated.dtypes

person_age                          int64
person_income                       int64
person_home_ownership              object
person_emp_length                 float64
loan_intent                        object
loan_amnt                           int64
loan_int_rate                     float64
loan_status                         int64
loan_percent_income               float64
cb_person_default_on_file           int32
cb_person_cred_hist_length          int64
person_home_ownership_MORTGAGE    float64
person_home_ownership_OTHER       float64
person_home_ownership_OWN         float64
person_home_ownership_RENT        float64
loan_intent_DEBTCONSOLIDATION     float64
loan_intent_EDUCATION             float64
loan_intent_HOMEIMPROVEMENT       float64
loan_intent_MEDICAL               float64
loan_intent_PERSONAL              float64
loan_intent_VENTURE               float64
dtype: object

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

scale_columns=['person_age','person_income','person_emp_length','loan_amnt','loan_int_rate','loan_percent_income','cb_person_cred_hist_length']

cr_loan_scaled=cr_loan_bin_treated.copy()
cr_loan_scaled[scale_columns] = StandardScaler().fit_transform(cr_loan_scaled[scale_columns])
cr_loan_scaled.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,...,person_home_ownership_MORTGAGE,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
0,-1.096861,-1.078033,OWN,0.054269,EDUCATION,-1.367166,0.032593,0,-0.655038,0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,-0.442334,-1.078033,MORTGAGE,-0.938604,MEDICAL,-0.656820,0.596094,1,3.767279,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.769598,-0.018874,RENT,-0.193949,MEDICAL,3.999895,1.364801,1,3.390912,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,-0.605966,-0.229190,RENT,0.798924,MEDICAL,3.999895,1.052107,1,3.579096,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-1.096861,-1.072349,OWN,-0.690385,VENTURE,-1.130384,-1.270300,1,0.756340,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [19]:
dropColumns=['person_home_ownership','loan_intent','person_home_ownership_OTHER','loan_intent_DEBTCONSOLIDATION']

cr_loan_processed=cr_loan_scaled.copy()
cr_loan_processed= cr_loan_processed.drop(dropColumns, axis=1)
cr_loan_processed.shape
# cr_loan_processed.head()

(31660, 17)

In [20]:
cr_loan_processed['loan_status'].value_counts()

loan_status
0    24837
1     6823
Name: count, dtype: int64

### SMOT-Synthetic Minority Over-Sampling Technique

In [21]:
from imblearn.over_sampling import SMOTE

smote=SMOTE()

independent=cr_loan_processed.drop('loan_status', axis=1)
dependent=cr_loan_processed['loan_status']

x_smote, y_smote=smote.fit_resample(independent,dependent)
x_smote.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
0,-1.096861,-1.078033,0.054269,-1.367166,0.032593,-0.655038,0,-0.941298,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,-0.442334,-1.078033,-0.938604,-0.656820,0.596094,3.767279,0,-0.693462,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.769598,-0.018874,-0.193949,3.999895,1.364801,3.390912,0,-0.941298,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-0.605966,-0.229190,0.798924,3.999895,1.052107,3.579096,1,-0.445627,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,-1.096861,-1.072349,-0.690385,-1.130384,-1.270300,0.756340,0,-0.941298,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [22]:
y_smote.value_counts()

loan_status
0    24837
1    24837
Name: count, dtype: int64

### Train Test Data

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

x_train, x_test, y_train, y_test = train_test_split(x_smote, y_smote, test_size=0.2, random_state=42)

x_train.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE
16765,-0.769598,-0.589190,-0.193949,-0.009615,0.276885,0.944524,0,-0.941298,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3018,-0.278702,-0.611927,-0.938604,-0.972529,0.586322,-0.655038,0,-0.445627,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
44446,-0.500762,0.127951,0.798924,1.806869,0.071810,1.105811,0,-0.649215,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
14504,-0.605966,0.479443,0.798924,0.053527,2.687237,-0.749130,0,-0.941298,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
15302,-0.605966,0.180074,0.302488,1.000655,-0.016266,0.379972,0,-0.693462,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

### Model Creation

In [43]:
from sklearn.linear_model import LogisticRegression
import pickle

logit= LogisticRegression()

logit.fit(x_train, y_train)

with open('logistic_pd_model.pkl','wb') as file:
    logistic_pd_model=pickle.dump(logit,file)
    
logit.score(x_train, y_train)

0.7781776088980599

In [25]:
logit_pred=logit.predict(x_test)
logit_pred

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [26]:
print(classification_report(y_test,logit_pred))
print(logit.coef_)

              precision    recall  f1-score   support

           0       0.78      0.78      0.78      4967
           1       0.78      0.78      0.78      4968

    accuracy                           0.78      9935
   macro avg       0.78      0.78      0.78      9935
weighted avg       0.78      0.78      0.78      9935

[[-0.00760052  0.0567676  -0.02836296 -0.65706645  0.99666372  1.36777909
   0.03189088 -0.01527128 -0.08747013 -1.73625872  0.47764861 -0.87859262
   0.03967288 -0.19613947 -0.6365866  -1.20577365]]

In [27]:
feature_logit_imp=pd.DataFrame({'features':x_smote.columns,'logit_impr':logit.coef_[0]})
feature_logit_imp.sort_values('logit_impr',ascending=False)

                          features  logit_impr
5              loan_percent_income    1.367779
4                    loan_int_rate    0.996664
10      person_home_ownership_RENT    0.477649
1                    person_income    0.056768
12     loan_intent_HOMEIMPROVEMENT    0.039673
6        cb_person_default_on_file    0.031891
0                       person_age   -0.007601
7       cb_person_cred_hist_length   -0.015271
2                person_emp_length   -0.028363
8   person_home_ownership_MORTGAGE   -0.087470
13             loan_intent_MEDICAL   -0.196139
14            loan_intent_PERSONAL   -0.636587
3                        loan_amnt   -0.657066
11           loan_intent_EDUCATION   -0.878593
15             loan_intent_VENTURE   -1.205774
9        person_home_ownership_OWN   -1.736259

In [44]:
from sklearn.ensemble import RandomForestClassifier

rf= RandomForestClassifier()

rf.fit(x_train, y_train)

with open('rf_pd_model.pkl','wb') as file:
    rf_pd_model=pickle.dump(rf,file)

rf_pred=rf.predict(x_test)

rf.score(x_train, y_train)
rf_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [29]:
print(classification_report(y_test,rf_pred))
print(rf.feature_importances_)

              precision    recall  f1-score   support

           0       0.91      0.97      0.94      4967
           1       0.97      0.91      0.94      4968

    accuracy                           0.94      9935
   macro avg       0.94      0.94      0.94      9935
weighted avg       0.94      0.94      0.94      9935

[0.05820978 0.14479408 0.07092114 0.0810969  0.2035238  0.19520834
 0.01915348 0.0577003  0.02431691 0.01582965 0.04542113 0.01704855
 0.01975141 0.01363362 0.01412985 0.01926105]

In [30]:
feature_rf_imp=pd.DataFrame({'features':x_smote.columns,'rf_impr':rf.feature_importances_})
feature_rf_imp.sort_values('rf_impr',ascending=False)

                          features   rf_impr
4                    loan_int_rate  0.203524
5              loan_percent_income  0.195208
1                    person_income  0.144794
3                        loan_amnt  0.081097
2                person_emp_length  0.070921
0                       person_age  0.058210
7       cb_person_cred_hist_length  0.057700
10      person_home_ownership_RENT  0.045421
8   person_home_ownership_MORTGAGE  0.024317
12     loan_intent_HOMEIMPROVEMENT  0.019751
15             loan_intent_VENTURE  0.019261
6        cb_person_default_on_file  0.019153
11           loan_intent_EDUCATION  0.017049
9        person_home_ownership_OWN  0.015830
14            loan_intent_PERSONAL  0.014130
13             loan_intent_MEDICAL  0.013634

In [45]:
from xgboost import XGBClassifier

xgb=XGBClassifier(tree_method='exact')
xgb.fit(x_train,y_train.values.ravel())

with open('xgb_pd_model','wb') as file:
    xgb_pd_model=pickle.dump(xgb,file)

xgb.score(x_train,y_train.values.ravel())

0.9657766929213115

In [32]:
xgb_pred=xgb.predict(x_test)

In [33]:
print(classification_report(y_test,xgb_pred))
print(xgb.feature_importances_)

              precision    recall  f1-score   support

           0       0.91      0.98      0.95      4967
           1       0.98      0.91      0.94      4968

    accuracy                           0.94      9935
   macro avg       0.95      0.94      0.94      9935
weighted avg       0.95      0.94      0.94      9935

[0.03272085 0.03599149 0.05854224 0.00954624 0.06978454 0.10973269
 0.012648   0.07498004 0.01828769 0.13996948 0.16427077 0.05232455
 0.0584187  0.035549   0.04330121 0.08393253]

In [34]:
feature_xgb_imp=pd.DataFrame({'features':x_smote.columns,'xgb_impr':xgb.feature_importances_})
feature_xgb_imp.sort_values('xgb_impr',ascending=False)

                          features  xgb_impr
10      person_home_ownership_RENT  0.164271
9        person_home_ownership_OWN  0.139969
5              loan_percent_income  0.109733
15             loan_intent_VENTURE  0.083933
7       cb_person_cred_hist_length  0.074980
4                    loan_int_rate  0.069785
2                person_emp_length  0.058542
12     loan_intent_HOMEIMPROVEMENT  0.058419
11           loan_intent_EDUCATION  0.052325
14            loan_intent_PERSONAL  0.043301
1                    person_income  0.035991
13             loan_intent_MEDICAL  0.035549
0                       person_age  0.032721
8   person_home_ownership_MORTGAGE  0.018288
6        cb_person_default_on_file  0.012648
3                        loan_amnt  0.009546

In [35]:
feature_imp=feature_logit_imp.merge(right=feature_rf_imp,on='features').merge(right=feature_xgb_imp,on='features')
feature_imp

                          features  logit_impr   rf_impr  xgb_impr
0                       person_age   -0.007601  0.058210  0.032721
1                    person_income    0.056768  0.144794  0.035991
2                person_emp_length   -0.028363  0.070921  0.058542
3                        loan_amnt   -0.657066  0.081097  0.009546
4                    loan_int_rate    0.996664  0.203524  0.069785
5              loan_percent_income    1.367779  0.195208  0.109733
6        cb_person_default_on_file    0.031891  0.019153  0.012648
7       cb_person_cred_hist_length   -0.015271  0.057700  0.074980
8   person_home_ownership_MORTGAGE   -0.087470  0.024317  0.018288
9        person_home_ownership_OWN   -1.736259  0.015830  0.139969
10      person_home_ownership_RENT    0.477649  0.045421  0.164271
11           loan_intent_EDUCATION   -0.878593  0.017049  0.052325
12     loan_intent_HOMEIMPROVEMENT    0.039673  0.019751  0.058419
13             loan_intent_MEDICAL   -0.196139  0.013634  0.035549
14            loan_intent_PERSONAL   -0.636587  0.014130  0.043301
15             loan_intent_VENTURE   -1.205774  0.019261  0.083933

### Further Exploration

In [36]:
logit_predicted_df=pd.DataFrame({'test_index_logit':x_test.index,'logit_pred':logit_pred})
rf_predicted_df=pd.DataFrame({'test_index_rf':x_test.index,'rf_pred':rf_pred})
xgb_predicted_df=pd.DataFrame({'test_index_xgb':x_test.index,'xgb_pred':xgb_pred})
print(logit_predicted_df.shape)
print(rf_predicted_df.shape)
print(xgb_predicted_df.shape)

(9935, 2)
(9935, 2)
(9935, 2)

In [37]:
logit_predicted_df.sort_values(['test_index_logit'], ascending=True).head()

      test_index_logit  logit_pred
9813                 1           1
421                  4           0
5875                 6           1
7424                 7           0
6423                38           1

In [38]:
rf_predicted_df.sort_values(['test_index_rf'], ascending=True).head()

      test_index_rf  rf_pred
9813              1        1
421               4        1
5875              6        1
7424              7        1
6423             38        1

In [39]:
xgb_predicted_df.sort_values(['test_index_xgb'], ascending=True).head()

      test_index_xgb  xgb_pred
9813               1         1
421                4         1
5875               6         1
7424               7         1
6423              38         1

In [40]:
#Individual Prediction
prediction_df_logit=pd.merge(cr_copy,logit_predicted_df, left_index=True, right_on='test_index_logit', how='inner')
prediction_df_rf=pd.merge(cr_copy,rf_predicted_df, left_index=True, right_on='test_index_rf', how='inner')
prediction_df_xgb=pd.merge(cr_copy,xgb_predicted_df, left_index=True, right_on='test_index_xgb', how='inner')

prediction_df_final=cr_emp_length_filtered.join(logit_predicted_df.set_index('test_index_logit'), how='left').join(rf_predicted_df.set_index('test_index_rf'), how='left').join(xgb_predicted_df.set_index('test_index_xgb'), how='left')

prediction_df_final.shape

(31660, 15)

In [41]:
prediction_df_final.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,logit_pred,rf_pred,xgb_pred
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,NaN,NaN,NaN
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,1.0,1.0,1.0
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,NaN,NaN,NaN
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,NaN,NaN,NaN
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2,0.0,1.0,1.0

In [42]:
prediction_df_final.to_excel("predicted.xlsx")